---
---
@import "{{ site.theme }}";

.page-header {
  display: none;
}

.btn.btn-outline {
  color: #159957 !important;
  background-color: transparent !important;
  border-color: #159957 !important;
}

.btn.btn-outline:hover {
  color: #ffffff !important;
  background-color: #159957 !important;
}
